# Demographic data analyzer

## Import data

In [1]:
import pandas as pd
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Calculations

### Calculate race_count

In [2]:
# Count how many people belong to each race category
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [3]:
type(race_count)

pandas.core.series.Series

### Calculate average_age_men

In [4]:
# Calculate average age of men
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
average_age_men

39.4

### Calculate percentage_bachelors

In [5]:
# Calculate percentage of people with a Bachelor's degree
total_count = df.shape[0]
bachelors_count = df[df['education'] == 'Bachelors'].shape[0]
percentage_bachelors = round((bachelors_count / total_count) * 100, 1)
percentage_bachelors

16.4

### Calculate higher_education_rich

In [6]:
# Define advanced education levels
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Filter for people with advanced education
higher_ed_df = df[df['education'].isin(advanced_education)]

# Among them, how many earn >50K?
higher_ed_rich_count = higher_ed_df[higher_ed_df['salary'] == '>50K'].shape[0]
higher_ed_total = higher_ed_df.shape[0]

# Calculate percentage
higher_education_rich = round((higher_ed_rich_count / higher_ed_total) * 100, 1)
higher_education_rich

46.5

### Calculate lower_education_rich

In [7]:
# Define advanced education levels
advanced_education = ['Bachelors', 'Masters', 'Doctorate']

# Filter for people WITHOUT advanced education
lower_ed_df = df[~df['education'].isin(advanced_education)]

# Bland dessa – hur många tjänar >50K?
lower_ed_rich_count = lower_ed_df[lower_ed_df['salary'] == '>50K'].shape[0]
lower_ed_total = lower_ed_df.shape[0]

# Procentuell andel
lower_education_rich = round((lower_ed_rich_count / lower_ed_total) * 100, 1)
lower_education_rich

17.4